notebook
pandas
numpy
matplotlib
seaborn
scipy
statsmodels
scikit-learn
pyarrow
duckdb
scikit-plot
scikit-posthocs
imbalanced-learn
lightgbm
xgboost
eli5
shap
lazypredict
plotly
optuna
fastapi
uvicorn